body { 
    background-color: var(--bg-master); 
    color: var(--segundo-color); 
}

.header { 
    display: flex;
    align-items: center; 
    justify-content: center;

    width: 100%;
    height: auto;

    font-family: var(--letras-primarias);
    background: var(--bg-complemento-header);
}

.header__container { 
    display: flex;

    width: 80%;
    height: 50px;

    
}
.header__container__nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    color: var(--segundo-color);
}

.header__container__nav__a { 
    display: flex;
    align-items: center;

    gap: 4px;
}

.main__container { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-family: var(--letras-secundarias);
    font-size: 4rem;

    width: 100%;
    height: 250px;
}

.main__container__logo { 
    display: flex;

    width: 30%;
    height: auto;
}

.main__container2 { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 250px;

    font-family: var(--letras-primarias);
}

.header__container2__img { 
    
    width: 30%;
    height: 200px;

    border: solid .01px;
}

.main__container2__div { 
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    
    width: 30%;
    height: 80%;

    --width-container2: 200px; 

    text-transform: uppercase;
    
}

.main__container2_div_div1 { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: var(--width-container2);
    
    grid-column: 1 / 1;
    grid-row: 1 / 1; 
}
.main__container2_div_div2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: var(--width-container2);
    
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}
.main__container2_div_div3 { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: var(--width-container2);
    
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
.main__container2_div_div4 { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: var(--width-container2);
    
    grid-column: 1  / 1;
    grid-row: 3 / 3;
}
.main__container2_div_div5 { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: var(--width-container2);
    
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.main__container2__div__img { 
    width: 30px;
}